html,body{padding:0;margin:0;width:100%;height:100%;font-family: 'Helvetica Neue',sans-serif;}
body{line-height:1.75em;letter-spacing:0;}
h2,h3,h4,h5,h6{font-size:13pt;margin:0 0 1em 0;}
.hyhaina_box{width:100%;height:100%;}
.hyhaina_title{padding:2em 1em;text-align:center;line-height:2em;background:#eee;box-shadow:#ddd 0px 3px 3px;}
.hyhaina_title h2{font-size:2em;padding:0;margin:0;}
.hyhaina_info{padding:1em;}
.hyhaina_info img{width:100%;border-radius:10px;}